.header {
  padding-top: 24px;
  padding-bottom: 24px;
  position: fixed;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: 65px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

.nav__item {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(7, 20, 45, 0.4);
}

.nav__link {
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}
.nav__link:hover, .nav__link:focus {
  color: #07142d;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header__btn {
  padding: 17px 40px;
  border: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 8px;
  background-color: #07142d;
  margin-left: auto;
  cursor: pointer;
}

.hero {
  padding-top: 207px;
  padding-bottom: 147px;
  background-size: cover;
  background: linear-gradient(26.36deg, rgba(255, 255, 255, 0.5) 0.22%, rgba(255, 255, 255, 0.495676) 3.13%, rgba(255, 255, 255, 0.482245) 6.04%, rgba(255, 255, 255, 0.45917) 8.94%, rgba(255, 255, 255, 0.426294) 11.85%, rgba(255, 255, 255, 0.384113) 14.76%, rgba(255, 255, 255, 0.334058) 17.67%, rgba(255, 255, 255, 0.278654) 20.57%, rgba(255, 255, 255, 0.221346) 23.48%, rgba(255, 255, 255, 0.165942) 26.39%, rgba(255, 255, 255, 0.115887) 29.3%, rgba(255, 255, 255, 0.0737057) 32.2%, rgba(255, 255, 255, 0.0408299) 35.11%, rgba(255, 255, 255, 0.017755) 38.02%, rgba(255, 255, 255, 0.0043236) 40.93%, rgba(255, 255, 255, 0) 43.83%), linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0.991353) 10.16%, rgba(255, 255, 255, 0.96449) 20.32%, rgba(255, 255, 255, 0.91834) 30.48%, rgba(255, 255, 255, 0.852589) 40.63%, rgba(255, 255, 255, 0.768225) 50.79%, rgba(255, 255, 255, 0.668116) 60.95%, rgba(255, 255, 255, 0.557309) 71.11%, rgba(255, 255, 255, 0.442691) 81.27%, rgba(255, 255, 255, 0.331884) 91.43%, rgba(255, 255, 255, 0.231775) 101.58%, rgba(255, 255, 255, 0.147411) 111.74%, rgba(255, 255, 255, 0.0816599) 121.9%, rgba(255, 255, 255, 0.03551) 132.06%, rgba(255, 255, 255, 0.0086472) 142.22%, rgba(255, 255, 255, 0) 152.37%), linear-gradient(338.41deg, #3e71ff -21.62%, rgba(62, 113, 255, 0.991353) -17.18%, rgba(62, 113, 255, 0.96449) -12.75%, rgba(62, 113, 255, 0.91834) -8.32%, rgba(62, 113, 255, 0.852589) -3.88%, rgba(62, 113, 255, 0.768225) 0.55%, rgba(62, 113, 255, 0.668116) 4.99%, rgba(62, 113, 255, 0.557309) 9.42%, rgba(62, 113, 255, 0.442691) 13.86%, rgba(62, 113, 255, 0.331884) 18.29%, rgba(62, 113, 255, 0.231775) 22.73%, rgba(62, 113, 255, 0.147411) 27.16%, rgba(62, 113, 255, 0.0816599) 31.6%, rgba(62, 113, 255, 0.03551) 36.03%, rgba(62, 113, 255, 0.0086472) 40.46%, rgba(62, 113, 255, 0) 44.9%), linear-gradient(73.14deg, #0030b6 -8.88%, #0231b4 -4.54%, #0932b1 -0.21%, #1534ab 4.13%, #2637a3 8.46%, #3b3c98 12.8%, #55408b 17.13%, #71467d 21.47%, #8e4c6e 25.8%, #aa5160 30.14%, #c45653 34.47%, #d95a48 38.81%, #ea5d40 43.14%, #f6603a 47.48%, #fd6137 51.81%, #ff6136 56.15%), #ffffff;
}

.hero__top-wrap {
  width: 846px;
  padding-left: 102px;
}

.hero__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 56px;
}
.hero__text strong {
  font-weight: 700;
}

.hero__bottom-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 102px;
}

.hero__btn {
  min-width: 285px;
  height: 80px;
  padding: 24px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.6;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  background-color: #07142d;
  margin-right: 64px;
  cursor: pointer;
}

.hero__img-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-right: 24px;
}

.hero__img-item {
  width: 115.21px;
  height: 105px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 7.19735px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__img-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.hero__img-text span {
  font-weight: 700;
}

.benefits {
  padding-top: 80px;
  padding-bottom: 80px;
}

.benefits-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 92px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__title-wrap {
  padding-left: 16px;
  padding-right: 70px;
}

.benefits__title {
  font-weight: 900;
  font-size: 56px;
  line-height: 1.15;
  margin-bottom: 48px;
}

.benefits__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.benefits__text-bold {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}

.whoWeAre {
  padding-top: 128px;
  padding-bottom: 80px;
  background-color: #dedeee;
}

.whoWeAre-container {
  text-align: center;
}

.whoWeAre__title-wrap {
  padding: 0 243px;
  text-align: center;
  padding-bottom: 64px;
  margin-bottom: 48px;
}

.whoWeAre__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  padding: 0 120px;
}

.whoWeAre__img-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 64px;
  margin-bottom: 80px;
}

.whoWeAre__item {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-imgg {
  margin-top: -24px;
}

.item-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 16px;
  padding-left: 30px;
  text-align: center;
}

.whoWeAre__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}

.whoWeAre__list-item {
  height: 152px;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  border-right: 4px solid #07142d;
  padding-left: 48px;
  padding-right: 48px;
}
.whoWeAre__list-item:last-child {
  border: none;
}

.list-item__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  text-align: left;
}

.list-item__text {
  width: 350px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
}
.list-item__text span {
  font-weight: 700;
}

.whoWeAre__btn {
  min-width: 285px;
  height: 80px;
  padding: 24px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.6;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  background-color: #07142d;
  cursor: pointer;
}

.works {
  padding-top: 128px;
  padding-bottom: 64px;
}

.works-container {
  text-align: center;
}

.works__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 56px;
  padding-right: 340px;
  padding-left: 340px;
}

.works__btn {
  min-width: 285px;
  height: 80px;
  padding: 24px 70px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.6;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  background-color: #07142d;
  cursor: pointer;
}

.kmc {
  background-color: #fafafa;
}

.kmc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.kms__title-wrap {
  padding-left: 48px;
}

.kmc__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 24px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}

.pagination__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  margin-right: 16px;
}

.pagination__item {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.05);
  width: 27px;
  height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 8px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  cursor: pointer;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}
.pagination__item:last-child {
  margin-right: 0;
}
.pagination__item:hover, .pagination__item:focus {
  background-color: #07142d;
  color: #ffffff;
}

.kmc__text_title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 4px;
}

.kmc__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 83px;
}

.link__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

.link__item {
  background: rgba(7, 20, 45, 0.05);
  padding: 12px 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 12px;
}

.link {
  padding: 12px 16px;
}

.kmc__img {
  border-radius: 0 16px 16px 0;
}

.coinloan {
  padding-top: 64px;
  padding-bottom: 64px;
}

.coinloan-container {
  border-radius: 20px;
  padding-top: 83px;
  padding-bottom: 83px;
  text-align: left;
  background-size: cover;
  background-image: url(../images/coinloan/bg@1x.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .coinloan-container {
    background-image: url(../images/coinloan/bg@2x.jpg);
  }
}

.coinloan__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: #fafafa;
  margin-bottom: 24px;
  width: 592px;
}

.coinloan__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #fafafa;
  margin-bottom: 48px;
  width: 592px;
}

.coinloan__btn-list {
  width: 411px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-bottom: 48px;
}

.coinloan__btn-list-item {
  margin-bottom: 22px;
}

.coinloan__list-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  padding: 12px 16px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(150px);
          backdrop-filter: blur(150px);
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.coinloan__btn {
  width: 288px;
  background: #fafafa;
  border-radius: 12px;
  border: none;
  padding: 26px 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  cursor: pointer;
}

.visually-hidden {
  background: transparent;
  border: none;
  color: transparent;
  cursor: inherit;
}

body {
  font-family: "Inter", sans-serif;
  color: #07142d;
}

.container {
  width: 1440px;
  padding-right: 80px;
  padding-left: 80px;
  margin-right: auto;
  margin-left: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

.uppertitle {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.title {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.19;
  margin-bottom: 24px;
}/*# sourceMappingURL=main.css.map */