.benefits{
    padding-top: 80px;
    padding-bottom: 80px;
}

.benefits-container{
    display: flex;
    gap: 92px;
    justify-content: center;
    align-items: center;
}
.benefits__title-wrap{
    padding-left: 16px;
    padding-right: 70px;
}


.benefits__title{
    font-weight: 900;
font-size: 56px;
line-height: 1.15;
margin-bottom: 48px;
}
.benefits__text{
    font-weight: 400;
font-size: 18px;
line-height: 1.5;
margin-bottom: 16px;
}
.benefits__text-bold{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
}