.coinloan {
  border-radius: 16px;
  padding-top: 64px;
  padding-bottom: 64px;
   @media screen and (min-width: 768px){
   padding-top: 83px;
    padding-bottom: 83px;
    background-repeat: no-repeat;
    background-position: 50%;
   }
  background-size: cover;
  background-image: url(../images/coinloan/bg@1x.jpg);
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/coinloan/bg@2x.jpg);
  }
}
.coinloan-container {
  border-radius: 20px;
  text-align: center;
  @media screen and (min-width: 480px){
    text-align: left;
  }
  // background-size: cover;
  // background-image: url(../images/coinloan/bg@1x.jpg);
  // @media (min-device-pixel-ratio: 2),
  //   (-webkit-min-device-pixel-ratio: 2),
  //   (min-resolution: 192dpi),
  //   (min-resolution: 2dppx) {
  //   background-image: url(../images/coinloan/bg@2x.jpg);
  // }
  @media screen and (min-width: 768px) {
    text-align: left;
  //  background-position: 50%;
  //   background-repeat: no-repeat;
  }
}

.coinloan__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2;
  color: #fafafa;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    font-size: 32px;
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 40px;
    width: 592px;
  }
}
.coinloan__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fafafa;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
width: 460px;
margin-bottom: 40px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 58px;
    width: 592px;
    font-size: 18px;
  }
}
.coinloan__btn-list {
  width: 411px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: none;
  }
}
.coinloan__btn-list-item {
  margin-bottom: 22px;
}

.coinloan__list-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  padding: 12px 16px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(150px);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 250ms ease-in-out;
  &:hover,
  &:focus {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.05),
      0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1),
      8px 32px 32px rgba(0, 0, 0, 0.15), 8px 64px 64px rgba(0, 0, 0, 0.15);
  }

  @media screen and (min-width: 768px){
     font-size: 12px;
  }
  @media screen and (min-width: 1200px){
     font-size: 14px;
  }
}
.coinloan__btn {
  background: #fafafa;
  border-radius: 12px;
  border: none;
  padding: 15px;
  padding-right: 42px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  cursor: pointer;
  transition: 250ms ease-in-out;
  transform: scale(1);
  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.05),
      0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1),
      8px 32px 32px rgba(0, 0, 0, 0.15), 8px 64px 64px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
  }
  @media screen and (min-width: 768px) {
    padding: 15px 30px;
    padding-right: 42px;
    font-size: 18px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 24px 40px;
    width: 288px;
display: flex;
justify-content: center;
align-items: center;
gap: 8px;
  }
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    position: relative;
  }
}
.visually-hidden {
  background: transparent;
  border: none;
  color: transparent;
  cursor: inherit;
}
.btn_icon {
  margin-left: 8px;
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    position: absolute;
    right: 14px;
  }
    @media screen and (min-width: 1200px) {
      margin-left: 0;
    }
}
