.mobile-menu__btn--open{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    margin-left: auto;
    @media screen and (min-width:767px){
        display: none;  
    }
}
.menu-overlay{
position: fixed;
top: 0;
right: 0;
background-color: rgba(7, 20, 45, 0.4);
width: 100%;
height: 100%;
opacity: 0;
pointer-events: none;
visibility: hidden;
transition: opacity 300ms ease-in-out;
transition: visibility 300ms ease-in-out;

&.is-open{
    opacity: 1;
    pointer-events: initial;
visibility: visible;
}
}
.mobile-menu{
    border-radius: 10px 0 0 10px;
    width: 180px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding-top: 30px;
    padding-left: 20px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateX(100%);
 transition: transform 300ms ease-in-out;

    .menu-overlay.is-open &{
        transform: translateX(0);
    }
}
.mobile-menu__btn--close{
    position: absolute;
    top: 10px;
    right: 5px;
        width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

}
// .mobile-menu__icon--close{
//     fill: $accent-color;
// }

.mobile__nav__list{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.mobile__nav__item{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: $main-color;
    margin-bottom: 10px;
    &:last-child{
        margin-bottom: 0;
    }
}

.mobile__nav__link{
 &:hover,
  &:focus,
  &:active {
      color: #07142d;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.mobile__btn {
  padding: 15px;
  min-width: 130px;
  border: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 8px;
  background-color: $main-color;
  margin-left: auto;
  cursor: pointer;
  transition: 250ms ease-in-out;
  transform: scale(1);

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.05),
      0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1),
      8px 32px 32px rgba(0, 0, 0, 0.15), 8px 64px 64px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
  }

   @media screen and (min-width: 768px) {
    font-size: 14px;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    padding: 17px 40px;
  }
}